* {
  font-family: "Cinzel", serif;
}

.cards-background-color {
  background-color: rgba(102, 153, 204, 0.3);
}

.card {
  border: solid black 1px;
  margin: 40px;
  padding: 5px;
  background-image: url("https://assets.codepen.io/13471/sparkles.gif");
  border-radius: 10px;
}

.card-body {
  border: solid 1px rgba(255, 255, 255, 0.5);
  margin: 1px 0px 1px 0px;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.card-img-top {
  border: solid 1px rgba(255, 255, 255, 0.5);
  width: 100%;
  border-radius: 10px;
  height: 150px;
  background-size: cover;
  background-position: center;
}

.atributes {
  padding-bottom: 8px;
}

.fist-icon {
  padding: 10px;
}

p {
  font-size: 12px;
}

.card-img-top-fire {
  border: solid 1px rgba(255, 0, 0, 0.3);
}

.card-body-fire {
  border: solid 1px rgba(255, 0, 0, 0.3);
}

.cards-backgound-color-fire {
  background-color: rgba(255, 0, 0, 0.3);
}
